@import "vars";

.footer {
  width: 100%;
  margin-top: 86px;
  background-image: url("../images/footer-img.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  p {
    padding: 65px 0;
    font-family: $secondary-font;
    font-style: italic;
    font-weight: 300;
    font-size: 20px;
    line-height: 27px;
    text-transform: capitalize;
    color: $light;
    align-items: center;
  }
}
